@model EMS.Entities.Employee

@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<h1>View/Update Profile</h1>


<hr />
<div class="row">

    <div class="col-md-4">
        <form asp-action="Profile">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group my-2">

                <input asp-for="Id" type="hidden" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>

            <div class="form-group my-2">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control my-2" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Contact" class="control-label"></label>
                <input asp-for="Contact" class="form-control my-2" />
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control my-2" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control my-2" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Branch" class="control-label"></label>
                <select asp-items="@ViewBag.BranchList" asp-for="Branch" class="form-control my-2">
                    <option selected disabled>Select Branch</option>
                </select>
                <span asp-validation-for="Branch" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Department" class="control-label"></label>
                <select asp-for="Department" asp-items="@ViewBag.DeptList" class="form-control my-2">
                    <option selected disabled>Select Department</option>
                </select>
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control my-2" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>


            <div class="form-group my-2">
                <input type="submit" value="Update" class="btn btn-primary my-2" />
            </div>
        </form>
    </div>
</div>

